<a href="https://colab.research.google.com/github/Viatcheslav1991/Prodjekt-1/blob/main/Project_2_%D0%9D%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA_%D1%88%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [1]:
import pandas as pd
import psycopg2

In [2]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [3]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [4]:
# текст запроса
query_3_1 = f'''
select count(distinct( id))
from vacancies
'''

In [5]:
# результат запроса
df=pd.read_sql_query(query_3_1,connection)

print(f"количество вакансий: {df['count'][0]}")

количество вакансий: 49197

<ipython-input-5-705529ddcd94>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_3_1,connection)

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [6]:
# текст запроса
query_3_2 = f'''
select count(distinct( id))
from EMPLOYERS
'''

In [7]:
# результат запроса
df=pd.read_sql_query(query_3_2,connection)

print(f"количество работодателей: {df['count'][0]}")

<ipython-input-7-83e08aac7291>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_3_2,connection)

количество работодателей: 23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [8]:
# текст запроса
query_3_3 = f'''
select count(distinct( id))
from areas
'''

In [9]:
# результат запроса
df=pd.read_sql_query(query_3_3,connection)

print(f"количество регионов: {df['count'][0]}")

количество регионов: 1362

<ipython-input-9-68643a2a1cb5>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_3_3,connection)

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [10]:
# текст запроса
query_3_4 = f'''
select count(distinct( id))
from INDUSTRIES
'''

In [11]:
# результат запроса
df=pd.read_sql_query(query_3_4,connection)

print(f"количество сфер деятельности: {df['count'][0]}")

<ipython-input-11-41fae4cf8e80>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_3_4,connection)

количество сфер деятельности: 294

***

In [12]:
# По данному юниту можно сделать следующий вывод мы имеем 2 таблицы с данными вакансии vacancies(49197 строк )
# и работодатели EMPLOYERS(23501  строк ). И 2 таблицы справочника сферы деятельности INDUSTRIES(294 строки)  и  регионы areas ( 1362 строк )

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [13]:
# текст запроса
query_4_1 = f'''
select count(V.id) cnt ,A.name area
from VACANCIES V
left join  AREAS A on A.id=V.area_id

group by A.id

order by cnt desc

'''

In [14]:
# результат запроса
df=pd.read_sql_query(query_4_1,connection)
df

<ipython-input-14-b5b3396091a9>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_4_1,connection)

      cnt                      area
0    5333                    Москва
1    2851           Санкт-Петербург
2    2112                     Минск
3    2006               Новосибирск
4    1892                    Алматы
..    ...                       ...
764     1                    Кизляр
765     1                    Джизак
766     1                    Эртиль
767     1                  Арсеньев
768     1  Тура (Красноярский край)

[769 rows x 2 columns]

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [15]:
# текст запроса
query_4_2 = f'''
select count(*)
from VACANCIES
where salary_from is not null
or  salary_to is not null
'''

In [16]:
# результат запроса
df=pd.read_sql_query(query_4_2,connection)
print(f"количество вакансий у которых заполнено хотя бы одно из двух полей с зарплатой: {df['count'][0]}")

количество вакансий у которых заполнено хотя бы одно из двух полей с зарплатой: 24073

<ipython-input-16-ca11480da484>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_4_2,connection)

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [17]:
# текст запроса
query_4_3 = f'''
select round(avg(salary_from)) avg_salary_from ,round(avg(salary_to)) avg_salary_to
from VACANCIES

'''

In [18]:
# результат запроса
df=pd.read_sql_query(query_4_3,connection)
df
print(f"средние значения для нижней границы зарплатной вилки: {df['avg_salary_from'][0]}")
print(f"средние значения для верхней границы зарплатной вилки: {df['avg_salary_to'][0]}")

средние значения для нижней границы зарплатной вилки: 71065.0
средние значения для верхней границы зарплатной вилки: 110537.0

<ipython-input-18-e5519fe91eca>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_4_3,connection)

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [19]:
# текст запроса
query_4_4 = f'''
select schedule,employment,count(id)
from VACANCIES
group by schedule,employment
order by count(id) desc
'''

In [20]:
# результат запроса
df=pd.read_sql_query(query_4_4,connection)
df

<ipython-input-20-f4994e0489ac>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_4_4,connection)

            schedule           employment  count
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [21]:
# текст запроса
query_4_5 = f'''
select experience as "Требуемый опыт работы", count(id)
from VACANCIES
group by experience
order by count(id)
'''

In [22]:
# результат запроса
df=pd.read_sql_query(query_4_5,connection)
df

<ipython-input-22-c54eb89ae7c3>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_4_5,connection)

  Требуемый опыт работы  count
0           Более 6 лет   1337
1             Нет опыта   7197
2         От 3 до 6 лет  14511
3    От 1 года до 3 лет  26152

***

In [23]:
# выводы по детальному анализу вакансий
# пункт 4.1 Самое большое количество вакансий в крупных городах
# пункт 4.2 в 24тыс строк вакансий из 49 тыс заполнено значение зарплаты почти 50%
# пункт 4.3 В даннтом запросе мы искали среднюю зарплату по всем вакансиям и по всем регионам -это не очень хорошо т.к у нас есть Моксва и есть регионы  .Также у нас разные отрасли от клининкга до IT тут нужен более предметный поиск
# Верхняя граница средней зп превосходит нижнюю на 35%
# Пункт 4.4 Лидирует типа трудоустройства Полная занятость  . И соответственно  граффик Полный день	  .Итересно что вырвался вперёд Удалённая работа - наверно связано с пондемией
# Пункт 4.5 на сайте hh.ru восновном много людей с опытом От 1 года до 3 лет можно сказать что люди находят какуюто работу - там набирают опыт и ищут новое место . Людей без опыта намного меньше чем людей с опытом - возможно это связано с тем что люди без опыта не считают что они на сайте hh.ru Выдержат конкуренцию

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [24]:
# текст запроса
query_5_1 = f'''
select E.name,count(V.id)
from VACANCIES V
join EMPLOYERS E  on E.id=V.employer_id
group by E.id
order by count(V.id) desc
limit 5
'''

In [25]:
# результат запроса
df=pd.read_sql_query(query_5_1,connection)
df

<ipython-input-25-72a0bce520d9>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_5_1,connection)

            name  count
0         Яндекс   1933
1     Ростелеком    491
2       Тинькофф    444
3           СБЕР    428
4  Газпром нефть    331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [26]:
# текст запроса
query_5_2 = f'''
select A.name, count(distinct(E.id)) as countE ,count(distinct(V.id)) as countV

from AREAS A

join EMPLOYERS E on E.area=A.id
left join VACANCIES V on V.area_id=A.id
group by A.id
order by countV  , countE desc
limit 10
'''

In [27]:
# результат запроса
df=pd.read_sql_query(query_5_2,connection)
df

<ipython-input-27-362e7822d740>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_5_2,connection)

                    name  counte  countv
0                 Россия     410       0
1              Казахстан     207       0
2     Московская область      75       0
3     Краснодарский край      19       0
4               Беларусь      18       0
5     Ростовская область      18       0
6            Азербайджан      17       0
7  Нижегородская область      16       0
8   Республика Татарстан      16       0
9             Узбекистан      15       0

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [28]:
# текст запроса
query_5_3 = f'''
select E.name,count(distinct V.area_id)

from EMPLOYERS E
join VACANCIES V on V.employer_id=E.id
group by E.id
order by count(distinct V.area_id) desc
'''

In [29]:
# результат запроса
df=pd.read_sql_query(query_5_3,connection)
df

<ipython-input-29-e80e9b0d3689>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_5_3,connection)

                                         name  count
0                                      Яндекс    181
1                                  Ростелеком    152
2                                  Спецремонт    116
3                      Поляков Денис Иванович     88
4                                   ООО ЕФИН      71
...                                       ...    ...
14901                            НПП Авиатрон      1
14902              Центр дистанционных торгов      1
14903  Городские Телекоммуникационные Системы      1
14904                       Введенский, Отель      1
14905              Группа Компаний Автоимпорт      1

[14906 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [30]:
# текст запроса
query_5_4 = f'''
select count(distinct(E.id))

from EMPLOYERS E
left join EMPLOYERS_INDUSTRIES EI on EI.employer_id=E.id
where EI.industry_id is null
'''

In [31]:
# результат запроса
df=pd.read_sql_query(query_5_4,connection)
df

<ipython-input-31-878597449711>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_5_4,connection)

   count
0   8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [32]:
# текст запроса
query_5_5 = f'''
select E.name,count(distinct(EI.industry_id))

from EMPLOYERS E
left join EMPLOYERS_INDUSTRIES EI on EI.employer_id=E.id
group by E.id
having count(distinct(EI.industry_id))=4
order by E.name
'''

In [33]:
# результат запроса
df=pd.read_sql_query(query_5_5,connection)
df

<ipython-input-33-bdc1ad35254b>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_5_5,connection)

                 name  count
0        101 Интернет      4
1            21vek.by      4
2                2ГИС      4
3                  2К      4
4         4 пикселя +      4
...               ...    ...
1133            ЮРИОН      4
1134  ЮТИП Технологии      4
1135           ЯКласс      4
1136            ЯрНео      4
1137    Яшин&Партнёры      4

[1138 rows x 2 columns]

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [34]:
# текст запроса
query_5_6 = f'''
select count(distinct(E.id))

from EMPLOYERS E
left join EMPLOYERS_INDUSTRIES EI on EI.employer_id=E.id
join INDUSTRIES I on I.id=EI.industry_id
where I.name='Разработка программного обеспечения'
'''

In [35]:
# результат запроса
df=pd.read_sql_query(query_5_6,connection)
df

<ipython-input-35-b750c5043949>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_5_6,connection)

   count
0   3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8).

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [36]:
!pip install beautifulsoup4
!pip install requests

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.6.2)

In [37]:
# код для получения списка городов-милионников
import requests
import json
from bs4 import BeautifulSoup

# URL API Википедии
url = r"https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8"

# получаем текст страницы
response = requests.get(url)
# парсим в  BeautifulSoup
page = BeautifulSoup(response.text, 'html.parser')
# находим таблицу с городами
list_of_City=page.find(class_='standard sortable').find('tbody').find_all('tr')
# убираем  шапку
list_of_City=list_of_City[1:]

# Создаём список для забора данных
list_of_city_names=[]

# обходим полученную с сайта таблицу и из тега а забираем текст -которые и есть название города
for teg in list_of_City:

  teg.find('a').text
  list_of_city_names.append(teg.find('a').text)
list_of_city_names

# оформим список в виде строки для использования в запросе
str_list_of_city_names=str(list_of_city_names).replace("[","(").replace("]",")")

In [38]:
# текст запроса
query_5_7 = f'''with SaveTable as
(
select A.name, count(V.id)

from EMPLOYERS E
left join VACANCIES V on V.employer_id=E.id
left join AREAS A on A.id=V.area_id
where E.name='Яндекс'
and A.name in {str_list_of_city_names}
group by A.id
)

select *
from SaveTable

union all

select 'Total',sum(count)
from SaveTable
'''

In [39]:
# результат запроса
df=pd.read_sql_query(query_5_7,connection)
df

<ipython-input-39-b66b2ad2f53a>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_5_7,connection)

               name  count
0            Москва   54.0
1   Санкт-Петербург   42.0
2      Екатеринбург   39.0
3       Новосибирск   35.0
4         Волгоград   24.0
5           Воронеж   32.0
6         Краснодар   30.0
7        Красноярск   23.0
8   Нижний Новгород   36.0
9              Омск   21.0
10            Пермь   25.0
11   Ростов-на-Дону   25.0
12           Самара   26.0
13           Казань   25.0
14              Уфа   26.0
15        Челябинск   22.0
16            Total  485.0

***

In [40]:
# выводы по анализу работодателей
# 5.1 В первой 5-ке находятся компании которые могут предоставить удалённую работу -Банки и IT сфера - те и другие впринцепе работают с информацией
# 5.2 на первом месте находятся страны -компания видимо не имеют конкретного региона регистрации. на 3 м месте находится Московская область  возможно работадатели зарегестрированы восновном в городах
# 5.3 Тут лидирует яндекс видимо это связано с поддержанием их серверов ,Ростелеком -это средства связи им тоже нужно поддерживать своё оборудование находящееся в разных регионах
# 5.4  8419  из 24 тыс работадателей не указли сферу деятельности
# 5.5 Ледируют IT компании  и компании связи
# 5.6 3553 из 24 тыс  разрабатывают программное обеспечение. Возможно имеются свои внутренние  IT проекты необходимые самой компании
# 5.7 Компания Яндекс восновном размещает свои вакансии в Москве

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [41]:
# текст запроса
query_6_1 = f'''
select count(id)

from VACANCIES V
where lower(name) like '%data%'
or lower(name) like '%данн%'
'''

In [42]:
# результат запроса
df=pd.read_sql_query(query_6_1,connection)
df

<ipython-input-42-51fc8442eb6e>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_1,connection)

   count
0   1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста?
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [43]:
# Соберём все строки в шаблон для ilike

list_VAK=['data scientist',"data science",'исследователь данных',"machine learning","машинн%обучен"]
list_Exc=["HTML"]
str_like_in=""

for VAK in list_VAK:
  str_like_in=str_like_in+f"name ilike  '%{VAK}%' or "
str_like_in_1="("+str_like_in[:-3]+f"   or (name like '%ML%' and name not ilike '%HTML%')"+")"


str_like_in_1

"(name ilike  '%data scientist%' or name ilike  '%data science%' or name ilike  '%исследователь данных%' or name ilike  '%machine learning%' or name ilike  '%машинн%обучен%'    or (name like '%ML%' and name not ilike '%HTML%'))"

In [44]:
#Найдём всего вакансий по DS в таблице  согласно условию

query_6_0 = f'''
select *

from VACANCIES V
where ({str_like_in_1})

'''

In [45]:
df=pd.read_sql_query(query_6_0,connection)
df.shape

<ipython-input-45-6a7b304555aa>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_0,connection)

(480, 10)

In [46]:
# текст запроса
query_6_2 = f'''
select *

from VACANCIES V
where ({str_like_in_1})
and ( (lower(name) like lower('%junior%') )
or (experience ='Нет опыта' )
or (employment ='Стажировка' )
)
'''

In [47]:
# результат запроса
df=pd.read_sql_query(query_6_2,connection)
df

<ipython-input-47-111ea795b29a>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_2,connection)

,id,name,key_skills,schedule,experience,employment,salary_from,salary_to,area_id,employer_id
0,50533416,Junior+ CV/ML developer,Python\tSQL\tРабота в команде\tOpenCV\tML,Гибкий график,От 1 года до 3 лет,Полная занятость,NaN,NaN,4,80190
1,54825318,Data Scientist (Junior+),Python\tOpenCV\tTensorflow\tComputer Vision\tН...,Полный день,От 1 года до 3 лет,Полная занятость,50000.0,70000.0,72,215942
2,55553897,Junior Data Scientist (Стажер),Python\tSQL\tData Mining\tC++\tМатематический ...,Гибкий график,Нет опыта,Стажировка,NaN,37000.0,3,953
3,55529384,"Математик, Junior/Middle/Senior Data Scientist",Python\tMATLAB\tМатематическое моделирование\t...,Удаленная работа,От 1 года до 3 лет,Частичная занятость,NaN,NaN,1002,1688252
4,55145641,Junior Data Scientist,Python\tSQL\tMachine Learning\tData Science\tА...,Полный день,Нет опыта,Полная занятость,50000.0,NaN,2,40938
5,55343709,Data Scientist/Machine Learning Engineer (Deve...,Machine Learning\tDeep Learning\tData Science\...,Гибкий график,Нет опыта,Частичная занятость,NaN,NaN,2,675403
6,54475492,Data Scientist (Junior),Python\tMachine Learning\tPandas\tSQL\tNumpy\t...,Полный день,Нет опыта,Частичная занятость,45000.0,100000.0,1,665449
7,55119989,Intern/Junior Data Scientist,Linux\tPython,Гибкий график,Нет опыта,Стажировка,NaN,NaN,2,3124
8,55120211,Junior Data Scientist (VK),Python\tМатематическая статистика\tАнализ данных,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,1,15478
9,55120401,Junior/Middle Data Scientist,Linux\tPython,Гибкий график,От 1 года до 3 лет,Полная занятость,NaN,NaN,2,3124
10,55390769,Data Scientist (Computer Vision) - Junior,Python\tML\tPytorch\tComputer Vision,Полный день,Нет опыта,Полная занятость,NaN,NaN,1,1626408
11,52158791,Исследователь в области машинного обучения и м...,Python\tMachine Learning\tМатематическое модел...,Полный день,Нет опыта,Полная занятость,80000.0,150000.0,2,1795976
12,52396406,"Data Scientist, Junior",Python\tSQL\tJava\tМатематический анализ\tМате...,Полный день,Нет опыта,Полная занятость,NaN,NaN,72,4914081
13,55373640,Junior Data Scientist Управления модельных рис...,Математическое моделирование\tАнализ данных\tС...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,1,4181
14,55552998,Математик-аналитик (data scientist / data anal...,Python\tМатематическая статистика\tПрогнозиров...,Полный день,Нет опыта,Полная занятость,NaN,98000.0,2,2954482
15,54657714,Data Scientist (junior+/middle),Python\tМатематическая статистика\tOracle Pl/S...,Гибкий график,От 1 года до 3 лет,Полная занятость,NaN,NaN,1,2242
16,55052496,Junior Data Scientist,Python\tSQL\tАнглийский язык\tLinux\tООП,Полный день,От 1 года до 3 лет,Полная занятость,50000.0,NaN,76,2029927
17,50072394,Research Engineer / Data Scientist,Python\tPyTorch\tGit\tTensorflow\tMachine Lear...,Полный день,Нет опыта,Полная занятость,NaN,NaN,1,976931
18,54924841,Стажер направления Машинное обучение и анализ ...,SQL\tOracle Pl/SQL,Полный день,Нет опыта,Стажировка,NaN,NaN,1,3127
19,55156731,Стажёр Data Scientist / Группа сервисов Антифр...,Python\tSQL\tPostgreSQL\tML\tMachine Learning\...,Полный день,Нет опыта,Стажировка,NaN,NaN,1,2180
20,54830582,Junior Data Scientist,Python\tSQL\tMachine Learning\tDocker\tNumpy,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,2,5488399
21,50996908,Senior Research Engineer / Data Scientist,PyTorch\tMachine Learning\tКонференции\tPython...,Полный день,Нет опыта,Полная занятость,NaN,NaN,1,976931
22,55204943,Ведущий AI/ML инженер,Python\tUnix\tАналитическое мышление\tНейронны...,Удаленная работа,Нет опыта,Полная занятость,NaN,NaN,26,2168135
23,55074464,Data scientist (Junior/Middle) в консалтинг,Python\tML,Полный день,Нет опыта,Полная занятость,NaN,NaN,1,2724615
24,66142163,Junior Data Scientist (математик-аналитик) уда...,SQL\tMS SQL\tУдаленная работа\tPython\tМатемат...,Удаленная работа,От 1 года до 3 лет,Полная занятость,NaN,NaN,1,870069
25,55895592,Junior Data Scientist (Promo Forecast),Python\tSQL\tORACLE\tСтатистический анализ\tSp...,Удаленная работа,От 1 года до 3 лет,Полная занятость,NaN,NaN,1,49357
26,55343711,Data Scientist/Machine Learning Engineer (Deve...,Machine Learning\tDeep Learning\tData Science\...,Гибкий график,Нет опыта,Частичная занятость,NaN,NaN,90,675403
27,55064629,Data Scientist в Сбер,None,Полный день,Нет опыта,Полная занятость,NaN,NaN,1,3529
28,55343710,Data Scientist/Machine Learning Engineer (Deve...,Machine Learning\tDeep Learning\tData Science\...,Гибкий график,Нет опыта,Частичная занятость,NaN,NaN,4,675403
29,55127391,Junior Data Scientist (Валидация скоринговых м...,Оценка рисков\tMS PowerPoint\tСтатистический а...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,66,4181
30,55127390,Junior Data Scientist (Валидация скоринговых м...,Оценка рисков\tMS PowerPoint\tСтатистический а...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,1,4181
31,55127393,Junior Data Scientist (Валидация скоринговых м...,Оценка рисков\tMS PowerPoint\tСтатистический а...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,2,4181
32,55127395,Junior Data Scientist (Валидация скоринговых м...,Оценка рисков\tMS PowerPoint\tСтатистический а...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,90,4181
33,55127396,Junior Data Scientist (Валидация скоринговых м...,Оценка рисков\tMS PowerPoint\tСтатистический а...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,26,4181
34,55127394,Junior Data Scientist (Валидация скоринговых м...,Оценка рисков\tMS PowerPoint\tСтатистический а...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,76,4181
35,55127397,Junior Data Scientist (Валидация скоринговых м...,Оценка рисков\tMS PowerPoint\tСтатистический а...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,95,4181
36,55127398,Junior Data Scientist (Валидация скоринговых м...,Оценка рисков\tMS PowerPoint\tСтатистический а...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,4,4181
37,55127392,Junior Data Scientist (Валидация скоринговых м...,Оценка рисков\tMS PowerPoint\tСтатистический а...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,88,4181
38,55095363,Риск - Аналитик (Junior Data scientist),Python\tSQL\tАнглийский язык\tОбучение и разви...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,1,4448058
39,54702840,Программист Python/ Data Scientist (junior / m...,Python\tDjango Framework\tSQL\tXML\tMS SQL,Полный день,Нет опыта,Полная занятость,60000.0,100000.0,4,4602050
40,55104548,Риск-аналитик (ML Engineer / Data Scientist),None,Полный день,Нет опыта,Полная занятость,NaN,NaN,1002,534346
41,54522206,Data Scientist/ML engineer (Python/C++),ML\tлинейные модели\tRandom Forest\tGradient B...,Удаленная работа,Нет опыта,Полная занятость,NaN,NaN,88,35784
42,54882705,Junior Data scientist/ Младший риск-аналитик,Математический анализ\tБазы данных\tСтатистика...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,1,1039977
43,54948266,Senior Data Scientist (AI),Computer Vision\tPyTorch\tTensorflow\tDeep Lea...,Полный день,Нет опыта,Полная занятость,NaN,NaN,2,168307
44,55046966,Junior Data Scientist for NLP (Python),Английский язык\tCJM\tПодготовка презентаций\t...,Полный день,Нет опыта,Полная занятость,NaN,NaN,1,5979039
45,54949463,Junior Research Engineer / Data Scientist,Python\tTensorflow\tPyTorch\tMachine Learning\...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,1,976931
46,54556346,Ведущий AI/ML инженер,Python\tUnix\tАналитическое мышление\tНейронны...,Удаленная работа,Нет опыта,Полная занятость,NaN,NaN,3,2168135
47,54689300,Data Scientist,Python\tGit\tTensorFlow\tKeras\tJupiter\tNLP\t...,Полный день,Нет опыта,Полная занятость,NaN,NaN,4,2791
48,54945920,Python developer / Junior ML engineer,Python\tC++\tОптимизация кода\tАнализ кода\tМа...,Гибкий график,Нет опыта,Полная занятость,NaN,NaN,1,4108548
49,52396404,"Data Scientist, Junior",Python\tSQL\tJava\tМатематический анализ\tМате...,Полный день,Нет опыта,Полная занятость,NaN,NaN,68,4914081
50,55236061,Data Scientist (Computer Vision) / Junior,Python\tLinux\tGit\tSQL\tDocker\tBash\tOpenCV\...,Полный день,Нет опыта,Полная занятость,70000.0,NaN,22,5920492

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [48]:
# текст запроса
query_6_3 = f'''
select *

from VACANCIES V
where ({str_like_in_1})

and ( (lower(key_skills) like lower('%SQL%'))
or (lower(key_skills) like lower('%postgres%'))
)
'''

In [49]:
# результат запроса
df=pd.read_sql_query(query_6_3,connection)
df

<ipython-input-49-1ad88772a6dd>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_3,connection)

,id,name,key_skills,schedule,experience,employment,salary_from,salary_to,area_id,employer_id
0,50533416,Junior+ CV/ML developer,Python\tSQL\tРабота в команде\tOpenCV\tML,Гибкий график,От 1 года до 3 лет,Полная занятость,NaN,NaN,4,80190
1,54824572,Data Scientist,Oracle Pl/SQL\tБазы данных\tMachine Learning\t...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,160,111304
2,55351147,Data Scientist,Python\tSQL\tNLP\tScikit-learn\tMachine Learning,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,53,3127
3,55351168,Data Scientist,Python\tSQL\tNLP\tScikit-learn\tMachine Learning,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,78,3127
4,55351179,Data Scientist,Python\tSQL\tNLP\tScikit-learn\tMachine Learning,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,76,3127
...,...,...,...,...,...,...,...,...,...,...
196,52396404,"Data Scientist, Junior",Python\tSQL\tJava\tМатематический анализ\tМате...,Полный день,Нет опыта,Полная занятость,NaN,NaN,68,4914081
197,55236061,Data Scientist (Computer Vision) / Junior,Python\tLinux\tGit\tSQL\tDocker\tBash\tOpenCV\...,Полный день,Нет опыта,Полная занятость,70000.0,NaN,22,5920492
198,55236081,Data Scientist (Computer Vision) / Middle,Python\tLinux\tGit\tSQL\tDocker\tBash\tNumpy\t...,Полный день,От 1 года до 3 лет,Полная занятость,100000.0,NaN,22,5920492
199,55478561,Machine Learning and Computer vision developer,Python\tLinux\tSQL\tPyTorch\tOpenCV\tKeras\tCa...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,2,6096024
200,66125447,Middle+/Senior Data Scientist,SCALA\tSQL\tМатематический анализ\tСтатистичес...,Полный день,От 3 до 6 лет,Полная занятость,NaN,NaN,160,135317

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [50]:
# текст запроса
query_6_4 = f'''
select *

from VACANCIES V
where ({str_like_in_1})

and ( (lower(key_skills) like lower('%Python%'))
)
'''

In [51]:
# результат запроса
df=pd.read_sql_query(query_6_4,connection)
df

<ipython-input-51-7c62bfdeff3c>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_4,connection)

,id,name,key_skills,schedule,experience,employment,salary_from,salary_to,area_id,employer_id
0,50533416,Junior+ CV/ML developer,Python\tSQL\tРабота в команде\tOpenCV\tML,Гибкий график,От 1 года до 3 лет,Полная занятость,NaN,NaN,4,80190
1,54824572,Data Scientist,Oracle Pl/SQL\tБазы данных\tMachine Learning\t...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,160,111304
2,54825318,Data Scientist (Junior+),Python\tOpenCV\tTensorflow\tComputer Vision\tН...,Полный день,От 1 года до 3 лет,Полная занятость,50000.0,70000.0,72,215942
3,66120847,AI/ML Senior Engineer,Python\tFlask\tLinux\tAWS\tGit,Гибкий график,От 3 до 6 лет,Полная занятость,NaN,NaN,2759,204511
4,55351147,Data Scientist,Python\tSQL\tNLP\tScikit-learn\tMachine Learning,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,53,3127
...,...,...,...,...,...,...,...,...,...,...
346,55478561,Machine Learning and Computer vision developer,Python\tLinux\tSQL\tPyTorch\tOpenCV\tKeras\tCa...,Полный день,От 1 года до 3 лет,Полная занятость,NaN,NaN,2,6096024
347,55306481,Data scientist / Исследователь-программист данных,Python\tАналитическое мышление\tАнализ данных\...,Полный день,От 1 года до 3 лет,Полная занятость,115000.0,172000.0,1,4846045
348,54918116,Специалист ML/DS,Python\tNumpy\tPyTorch\tPandas\tМатематический...,Полный день,От 3 до 6 лет,Полная занятость,61024.0,73228.0,160,5969955
349,55185186,Data Scientist в области рекомендательных систем,Python\tScikit-learn\tPandas\tGit\tNumpy,Полный день,От 3 до 6 лет,Полная занятость,NaN,NaN,66,3529
350,55311099,ML Engineer Team Lead (to Cyprus),Python\tLinux\tKubernetes\tAWS\tGit\tPeople Ma...,Полный день,От 3 до 6 лет,Полная занятость,NaN,NaN,236,3266823

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [52]:
# текст запроса
query_6_5 = f'''
select avg(1+LENGTH (key_skills)  - LENGTH( replace(key_skills , CHR(9) , '') ) )
from VACANCIES V
where (


  ({str_like_in_1} )

)
and key_skills is not null
'''

In [53]:
# результат запроса
df=pd.read_sql_query(query_6_5,connection)

df

<ipython-input-53-736811b5738d>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_5,connection)

        avg
0  6.406032

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*).

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [54]:
# текст запроса
query_6_6 = f'''
select   experience	 ,avg(COALESCE( (salary_from+ salary_to)/2,salary_from,salary_to)  )

from VACANCIES V
where (


  ({str_like_in_1})





)
and (salary_from	is  not null or  salary_to is  not null)

group by experience

'''

In [55]:
# результат запроса
df=pd.read_sql_query(query_6_6,connection)

df

<ipython-input-55-58ad7904ac94>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_6,connection)

           experience            avg
0           Нет опыта   74642.857143
1  От 1 года до 3 лет  139674.750000
2       От 3 до 6 лет  243114.666667

In [56]:
# сгруппируем Ds по опыту работы
query_6_6_1 = f'''
select   experience	 ,count(id)

from VACANCIES V
where (


  ({str_like_in_1})





)
and (salary_from	is  not null or  salary_to is  not null)

group by experience

'''

In [57]:
# результат запроса
df=pd.read_sql_query(query_6_6_1,connection)

df

<ipython-input-57-4a66abd3444a>:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_6_1,connection)

           experience  count
0           Нет опыта      7
1  От 1 года до 3 лет     28
2       От 3 до 6 лет     27

***

In [58]:
# выводы по предметному анализу

# 6.1  0.03 от общего кол-ва вакансий  имеют отношения к данными

# 6.2  всего 51 вакансия для начинающих дата сайнтистов -  работодатель явно не настроен обучать

# 6.3  всего вакнсий по DS 480 (по условию из Задание 6.2 ) из них в 229 требуется SQL и postgres  это 47% можно сказать что работа с базами данных важный навык в DS

# 6.4  всего вакнсий по DS 480 (по условию из Задание 6.2 ) из них в 357 требуется Python   Что интересно в 25% вакансиях Python не нужен

# 6.5 в среднем нужно иметь много компетенций для DS 6.4  для успешного трудо устройства нужно больше вакансий

# 6.6 У опытных DS специалистов высокие зарплаты

# Общий вывод по проекту

In [59]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования



# По данному юниту можно сделать следующий вывод мы имеем 2 таблицы с данными вакансии vacancies(49197 строк )
# и работодатели EMPLOYERS(23501  строк ). И 2 таблицы справочника сферы деятельности INDUSTRIES(294 строки)  и  регионы areas ( 1362 строк )


# выводы по детальному анализу вакансий
# пункт 4.1 Самое большое количество вакансий в крупных городах
# пункт 4.2 в 24тыс строк вакансий из 49 тыс заполнено значение зарплаты почти 50%
# пункт 4.3 В даннтом запросе мы искали среднюю зарплату по всем вакансиям и по всем регионам -это не очень хорошо т.к у нас есть Моксва и есть регионы  .Также у нас разные отрасли от клининкга до IT тут нужен более предметный поиск
# Верхняя граница средней зп превосходит нижнюю на 35%
# Пункт 4.4 Лидирует типа трудоустройства Полная занятость  . И соответственно  граффик Полный день	  .Итересно что вырвался вперёд Удалённая работа - наверно связано с пондемией
# Пункт 4.5 на сайте hh.ru восновном много людей с опытом От 1 года до 3 лет можно сказать что люди находят какуюто работу - там набирают опыт и ищут новое место . Людей без опыта намного меньше чем людей с опытом - возможно это связано с тем что люди без опыта не считают что они на сайте hh.ru Выдержат конкуренцию


# выводы по анализу работодателей
# 5.1 В первой 5-ке находятся компании которые могут предоставить удалённую работу -Банки и IT сфера - те и другие впринцепе работают с информацией
# 5.2 на первом месте находятся страны -компания видимо не имеют конкретного региона регистрации. на 3 м месте находится Московская область  возможно работадатели зарегестрированы восновном в городах
# 5.3 Тут лидирует яндекс видимо это связано с поддержанием их серверов ,Ростелеком -это средства связи им тоже нужно поддерживать своё оборудование находящееся в разных регионах
# 5.4  8419  из 24 тыс работадателей не указли сферу деятельности
# 5.5 Ледируют IT компании  и компании связи
# 5.6 3553 из 24 тыс  разрабатывают программное обеспечение. Возможно имеются свои внутренние  IT проекты необходимые самой компании
# 5.7 Компания Яндекс восновном размещает свои вакансии в Москве

# выводы по предметному анализу
# 6.1  0.03 от общего кол-ва вакансий  имеют отношения к данными
# 6.2  всего 51 вакансия для начинающих дата сайнтистов -  работодатель явно не настроен обучать
# 6.3  всего вакнсий по DS 480 (по условию из Задание 6.2 ) из них в 229 требуется SQL и postgres  это 47% можно сказать что работа с базами данных важный навык в DS
# 6.4  всего вакнсий по DS 480 (по условию из Задание 6.2 ) из них в 357 требуется Python   Что интересно в 25% вакансиях Python не нужен
# 6.5 в среднем нужно иметь много компетенций для DS 6.4  для успешного трудо устройства нужно больше вакансий
# 6.6 У опытных DS специалистов высокие зарплаты

Общий вывод

Цель нашей рабылоты была : Ваш первый проект — создание модели машинного обучения, которая будет рекомендовать вакансии клиентам агентства, претендующим на позицию Data Scientist.

подведем итог исследования, обобщите выводы

Судя по hh
мы восносном будем предлогать людей

с опытом работы От 1 года до 3 лет или От 3 до 6 лет

1.  с опытом работы От 1 года до 3 лет или От 3 до 6 лет(вывод сделан по пункту 6.6.1  -где были сгруппированы вакансии по опыту   )
2.  его ожидаемая зарплата будет от 139674  до 243114
3.  в среднем он будет владеть 6-7 навыками
4.  47% из предлогаемых нами соискателей будут владеть SQL
5.  75% Будут использовать python в работеч с данными

Для более удобных выводов было сделано 2 доп запроса :

query_6_6_1  DS специалисты сгруппированы по опыту работы - для более удобных выводов

query_6_0  было найдено сколько всего вакансий имеют отношение к работе с данными  независимо от от опыта работы